.steps {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 100%;
  color: darkgray;
  font-size: 18px;
}

.steps-holder {
  margin-top: 1.5em;
}

.action-holder {
  margin: 3em auto;
  max-width: 800px;
}

@media screen and (min-width: 768px) {
  .steps {
    border-top: 4px solid lightgray;
    border-left: transparent;
    padding-top: 10px;
    width: 100%;
  }

  .steps-holder {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .steps-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 1.5em;
  }
}
