.auth-holder {
  margin: 0 auto;
  max-width: 900px;
}

.student-card {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  margin-top: 5em;
  padding: 15px 15px 30px 15px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
