.survey-props {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.warning-message {
  color: #f44336;
  font-size: 14px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

@media screen and (max-width: 425px) {
  .button-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
  }
}
