.survey-props {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.warning-message {
  font-size: 14px;
}

.copy-data {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  color: #2835c3;
}
.copy-data:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

@media screen and (max-width: 425px) {
  .button-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
  }
}
