.header {
  background-color: #2834c2;
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.239) 0px 3px 8px;
}

.header h2 {
  color: #fbfcff;
  letter-spacing: 1px;
}

.card {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  margin-top: 5em;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.steps {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 100%;
  color: darkgray;
}

.steps-holder {
  margin-top: 1.5em;
}

.action-holder {
  margin: 3em auto;
  max-width: 800px;
}

@media screen and (min-width: 768px) {
  .steps {
    border-top: 4px solid lightgray;
    border-left: transparent;
    padding-top: 10px;
    width: 100%;
  }

  .steps:hover {
    border-top: 4px solid darkgray;
    color: grey;
  }

  .steps-holder {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .steps-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 1.5em;
  }

  .steps:hover {
    border-left: 4px solid darkgray;
    color: grey;
  }
}
