.switch-holder {
  display: flex;
  flex-direction: column;
  gap: 3;
}

.toggle-btn {
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 99px;
  width: 50px;
  height: 28px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.toggle-btn .thumb {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.3s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled {
  background-color: #2835c3;
  border: 1px solid #2835c3;
}

.toggle-btn.toggled .thumb {
  left: calc(50px - 25px);
}

.button-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* gap: 10px;
  margin-top: 5px; */
}

.label-text {
  color: #17181d;
  font-size: 18px;
}
