.table {
  width: 100%;
  text-align: left;
  border-spacing: 1px;
  text-transform: none;
  border-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: darkgray;
  box-shadow: none;
  font-size: 12px;
}

.thead .th {
  border-spacing: 0;
  padding: 9px 10px 7px;
  background-color: lightgray;
  font-weight: 0;
  border-bottom: 0px;
}

.tbody .td {
  border-spacing: 1px;
  padding: 10px;
  cursor: pointer;
}

.tr {
  background: #fff;
}
