*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111827;
  margin: 0;
}

a {
  font-weight: 500;
  color: #2835c3;
  text-decoration: inherit;
}
a:hover {
  color: #000c9a;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

h1 {
  font-size: 36px;
  line-height: 1;
}

p {
  /* color: #6b7280; */
  margin: 0;
}

.input-holder {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

input,
select,
textarea {
  padding: 8px 12px;
  border-radius: 4px;
  border-width: 1px;
  outline: none;
  border: 1px solid #a9a9a9;
}

input:hover,
select:hover,
textarea:hover {
  border: 1px solid lightgrey;
  background-color: #f8f8f8;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid #2835c3;
  box-shadow: 0px 0px 0px 1px #2835c3 inset;
}

select {
  cursor: pointer;
}

label {
  font-size: 16px;
  font-weight: bold;
}

.form-button {
  background-color: #2834c2;
  color: #fff;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  font-size: 15px;
  text-transform: uppercase;
}

.form-button:hover {
  background-color: #1420ae;
  transition: background-color 0.25s;
}

.input-error {
  font-size: 14px;
  color: #f44336;
  padding-left: 5px;
}

.back-button {
  background-color: #f44336;
  color: #fff;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  font-size: 15px;
  text-transform: uppercase;
}

.continue-button {
  background-color: #16a34a;
  color: #fff;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  font-size: 15px;
  text-transform: uppercase;
}
.continue-button:hover {
  background-color: #22bb33;
}

.button-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 425px) {
  .button-holder {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
}
