.modal {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  overflow: auto;
  height: 100%;
  width: 100%;
  background: rgb(169, 169, 169, 0.25);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}

@media screen and (max-width: 899px) {
  .modal {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.modal-children {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
